---
version: 1
interactions:
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"tf-pn-adoring-banzai","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"14592296-6436-4971-adcb-67dc4a338d4d","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2021-08-03T14:11:49.176486Z","updated_at":"2021-08-03T14:11:49.176486Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"tf-pn-adoring-banzai","tags":[],"ip":{"id":"62b1d677-b76f-4972-9200-ba6ed58cdc64","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2021-08-03T14:11:49.152577Z","updated_at":"2021-08-03T14:11:49.152577Z","tags":[],"address":"212.47.230.17","reverse":null,"zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/14592296-6436-4971-adcb-67dc4a338d4d
    method: GET
  response:
    body: '{"id":"14592296-6436-4971-adcb-67dc4a338d4d","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2021-08-03T14:11:49.176486Z","updated_at":"2021-08-03T14:11:49.225826Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"tf-pn-adoring-banzai","tags":[],"ip":{"id":"62b1d677-b76f-4972-9200-ba6ed58cdc64","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2021-08-03T14:11:49.152577Z","updated_at":"2021-08-03T14:11:49.152577Z","tags":[],"address":"212.47.230.17","reverse":null,"zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.10","can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"gateway_id":"fr-par-1/14592296-6436-4971-adcb-67dc4a338d4d","public_port":8080,"private_ip":"192.168.0.1","private_port":8080,"protocol":"both"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/pat-rules
    method: POST
  response:
    body: '{"details":[{"argument_name":"gateway_id","help_message":"uuid: {}","reason":"unknown"}],"message":"invalid argument(s)","type":"invalid_arguments"}'
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
    code: 400
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/14592296-6436-4971-adcb-67dc4a338d4d
    method: DELETE
  response:
    body: '{"current_state":"configuring","message":"resource is in a transient state","resource":"gateway","resource_id":"14592296-6436-4971-adcb-67dc4a338d4d","type":"transient_state"}'
    headers:
      Content-Type:
      - application/json
    status: 409 Conflict
    code: 409
    duration: ""
