---
version: 1
interactions:
- request:
    body: '{"project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","name":"tf-pn-xenodochial-mendel","tags":[],"type":"VPC-GW-S","upstream_dns_servers":[],"ip_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways
    method: POST
  response:
    body: '{"id":"d683eaeb-403d-4337-a456-56ddc0820c90","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2021-08-05T09:35:22.253724Z","updated_at":"2021-08-05T09:35:22.253724Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"tf-pn-xenodochial-mendel","tags":[],"ip":{"id":"b1a0264f-390e-4c27-9a60-476c3df3391c","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2021-08-05T09:35:22.232232Z","updated_at":"2021-08-05T09:35:22.232232Z","tags":[],"address":"163.172.168.73","reverse":null,"zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":null,"can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/d683eaeb-403d-4337-a456-56ddc0820c90
    method: GET
  response:
    body: '{"id":"d683eaeb-403d-4337-a456-56ddc0820c90","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2021-08-05T09:35:22.253724Z","updated_at":"2021-08-05T09:35:22.297433Z","type":{"name":"VPC-GW-S","bandwidth":100000000,"zone":"fr-par-1"},"status":"stopped","name":"tf-pn-xenodochial-mendel","tags":[],"ip":{"id":"b1a0264f-390e-4c27-9a60-476c3df3391c","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","project_id":"951df375-e094-4d26-97c1-ba548eeb9c42","created_at":"2021-08-05T09:35:22.232232Z","updated_at":"2021-08-05T09:35:22.232232Z","tags":[],"address":"163.172.168.73","reverse":null,"zone":"fr-par-1"},"gateway_networks":[],"upstream_dns_servers":[],"version":"0.2.10","can_upgrade_to":null,"zone":"fr-par-1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"gateway_id":"d683eaeb-403d-4337-a456-56ddc0820c90","public_port":8080,"private_ip":"192.168.0.1","private_port":8080,"protocol":"both"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/pat-rules
    method: POST
  response:
    body: '{"help_message":"Gateway has no private network with address 192.168.0.1","message":"precondition is not respected","precondition":"resource_still_in_use","type":"precondition_failed"}'
    headers:
      Content-Type:
      - application/json
    status: 412 Precondition Failed
    code: 412
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.scaleway.com/vpc-gw/v1beta1/zones/fr-par-1/gateways/d683eaeb-403d-4337-a456-56ddc0820c90
    method: GET
  response:
    body: '{"message":"resource is not found","resource":"gateway","resource_id":"d683eaeb-403d-4337-a456-56ddc0820c90","type":"not_found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
